<h1>Editing Book</h1>

<%= form_for(@book) do |f| %>
	<p>Title</p>
	<%= f.text_field :title %>
	<p>Body</p>
	<%= f.text_field :body %><br/>
	<%= f.submit 'Update book' %></br>
<% end %>

<%= link_to "Show", book_path(@book) %> | <%= link_to "Back", :back %>
